.play-button {
  transition: all 0.2s ease;
  display: inline-block;
}

.play-button:hover {
  transform: scale(1.08);
  text-shadow: 0 0 15px white;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0px rgb(144, 169, 85);
  }
  50% {
    text-shadow: 0 0 15px rgba(144, 169, 85, 0.7);
  }
  100% {
    text-shadow: 0 0 20px white;
  }
}

.mojang-dot {
  animation: glow 2s infinite;
}

.mojang-status-panel {
  position: absolute;
  bottom: calc(100% + 15px);
  height: 200px;
  width: 142px;
  transform: translateX(-25%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: small;
}
